@model eWarsztaty.Web.Models.ViewModels.UzytkownikView
@using eWarsztaty.Web.Infrastructure
@{
    ViewBag.Title = "Detail";
    bool enable = !ViewBag.Enable;
}

<h2>@ViewBag.NowyUzytkownik</h2>


@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "result" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Uzytkownik</legend>
        @Html.HiddenFor(model => model.UzytkownikId)
        <div class="editor-label">
            @Html.LabelFor(model => model.Login)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Login, (enable) ? new { @readonly = "readonly" } : null)
            @Html.ValidationMessageFor(model => model.Login) 
        </div>
        <br />
        <div class="editor-label">
            @Html.LabelFor(model => model.Haslo)
            @if(!ViewBag.Nowy)
            {
                <text>*pozostaw puste, jeżeli nie chcesz zmienić </text>
            }
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Haslo)
            @if(ViewBag.Nowy)
            {
                @Html.ValidationMessageFor(model => model.Haslo)
            }
        </div>
        <br />
        <div class="editor-label">
            @Html.LabelFor(model => model.AdresEmail)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.AdresEmail)
            @Html.ValidationMessageFor(model => model.AdresEmail)
        </div>
        <br />
@if (ViewContext.Controller.HasPermission("Uzytkownicy-PrzypiszRole") && ViewContext.Controller.HasPermission("Role-Index")) //ale musi tez byc ze widzi wszystkie role !!!
        {
        <div class="editor-label">
            @Html.LabelFor(model => model.Role)
        </div>
        <ul>
            @for (int i = 0; i < Model.Role.Count; i++)
            {
                <li>
                    <input type="checkbox"
                           name="SelectedRole" value="@Model.Role[i].RolaId" id="@Model.Role[i].RolaId"
                           @{if (Model.SelectedRole.Contains(Model.Role[i].RolaId)) { <text> checked='checked' </text>     } } />

                    <label for="@Model.Role[i].RolaId">@Model.Role[i].Nazwa</label>
                </li>
            }
        </ul>
}
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script>

    $(function () {
        $('form').submit(function () {
            if ($(this).valid()) {
                $.ajax({
                    url: '@Url.Action("Save","Uzytkownicy")',
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        if (result.ok) {
                            alert(result.Info);
                            location.reload();
                        }
                        else {
                            ErrorAlert();
                            alert(result.Info);
                        }
                    }
                });
            }
            return false;
        });
    });
</script>
}