@using eWarsztaty.Web.Infrastructure
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @using GridMvc.Html
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/others")
        @Styles.Render("~/Content/themes/base/css", "~/Content/css")
        @Scripts.Render("~/bundles/signalr")
        <script src="~/signalr/hubs"></script>
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("e-Warsztaty", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                            <ul id="menu">
                                @if (ViewContext.Controller.HasPermission("Warsztaty-Index") || ViewContext.Controller.HasPermission("Warsztaty-Save")
                                        || ViewContext.Controller.HasPermission("Warsztaty-MojeWarsztaty") || ViewContext.Controller.HasPermission("Warsztaty-Zapis")
                                    )
                                {
                                    <li>
                                        Zarządzaj warsztatami ▼
                                        <ul>
                                            @if (ViewContext.Controller.HasPermission("Warsztaty-MojeWarsztaty"))
                                            {
                                                <li> @Html.ActionLink("Moje warsztaty", "MojeWarsztaty", "Warsztaty", null, new { @class = "test" }) </li>
                                            }
                                            @if (ViewContext.Controller.HasPermission("Warsztaty-Index"))
                                            {
                                                <li>@Html.ActionLink("Wszystkie warsztaty", "Index", "Warsztaty")</li>
                                            }
                                            @if (ViewContext.Controller.HasPermission("Warsztaty-Save"))
                                            {
                                                <li>@Html.ActionLink("Dodaj warsztat", "Detail", "Warsztaty")</li>
                                            }
                                            @if (ViewContext.Controller.HasPermission("Warsztaty-Zapis"))
                                            {
                                                <li>@Html.ActionLink("Zapisz się", "Zapisanie", "Warsztaty")</li>
                                            }
                                        </ul>
                                    </li>
                                }
                                @if(ViewContext.Controller.HasPermission("Uzytkownicy-Index") ||ViewContext.Controller.HasPermission("Uzytkownicy-Save") ){
                                <li>
                                    Zarządzaj użytkownikami ▼
                                    <ul>
                                        @if (ViewContext.Controller.HasPermission("Uzytkownicy-Index"))
                                        {
                                            <li> @Html.ActionLink("Lista/ Edycja", "Index", "Uzytkownicy", null, new { @class = "test" }) </li>
                                        }
                                        @if (ViewContext.Controller.HasPermission("Uzytkownicy-Save"))
                                        {
                                            <li>@Html.ActionLink("Dodaj", "Detail", "Uzytkownicy")</li>
                                        }
                                    </ul>
                                </li>
                                }
                                @if(false)
                                //if (ViewContext.Controller.HasPermission("Role-Index") || ViewContext.Controller.HasPermission("Role-Save") || ViewContext.Controller.HasPermission("Uzytkownicy-PrzypiszRole"))
                                {
                                <li>
                                    Zarządzaj rolami ▼
                                    <ul>
                                        @if (ViewContext.Controller.HasPermission("Role-Index"))
                                        {
                                            <li>@Html.ActionLink("Lista/ Edycja", "Index", "Role")</li>
                                        }    
                                        @if (ViewContext.Controller.HasPermission("Role-Save"))
                                        {
                                            <li>@Html.ActionLink("Dodaj rolę", "Detail", "Role")</li>
                                        }
                                        @if (ViewContext.Controller.HasPermission("Uzytkownicy-PrzypiszRole"))
                                        {
                                            <li>@Html.ActionLink("Przypisz rolę", "AddRoleToUser", "Role")</li>
                                        }
                                    </ul>
                                </li>
                                }
                            </ul>
                        
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Maria Klima, Marcin Winkler</p>
                </div>
            </div>
        </footer>
        @RenderSection("scripts", required: false)
    </body>
</html>
