@model eWarsztaty.Web.Models.ViewModels.WarsztatyListView
@using eWarsztaty.Web.Infrastructure
@{
    ViewBag.Title = "Detail";
    bool enable = !ViewBag.Enable;
}

<h2>@ViewBag.NowyUzytkownik</h2>


@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "result" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Warsztat</legend>
        @Html.HiddenFor(model => model.WarsztatId)
        @Html.HiddenFor(model => model.ProwadzacyId)
        <div class="editor-label">
            @Html.LabelFor(model => model.Nazwa)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Nazwa, (enable) ? new { @readonly = "readonly" } : null)
            @Html.ValidationMessageFor(model => model.Nazwa)
        </div>
        <br />
        <div class="editor-label">
            @Html.LabelFor(model => model.Temat)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Temat)
            @Html.ValidationMessageFor(model => model.Temat)
        </div>
        <br />
        <div class='editor-label'>
            @Html.LabelFor(model => model.HasloDostepu)
        </div>
        <div class='editor-field'>
            @Html.PasswordFor(model => model.HasloDostepu)
            @Html.ValidationMessageFor(model => model.HasloDostepu)
        </div>
        <br />
        <div class='editor-label'>
            @Html.LabelFor(model => model.DataRozpoczecia)
        </div>
        <div class='editor-field'>
            @Html.EditorFor(model => model.DataRozpoczecia)
            @Html.ValidationMessageFor(model => model.DataRozpoczecia)
        </div>
        <br />
        <div class="editor-label">
            @Html.LabelFor(model => model.CzasTrwania)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.CzasTrwania)
            @Html.ValidationMessageFor(model => model.CzasTrwania)
        </div>
        <br />
        <p>
            <input type="submit" value="Zapisz" />
        </p>
    </fieldset>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {//NAPRAWA DATEPICKERA
        jQuery.browser = {};
        (function () {
            jQuery.browser.msie = false;
            jQuery.browser.version = 0;
            if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
                jQuery.browser.msie = true;
                jQuery.browser.version = RegExp.$1;
            }
        })();
    $(function () {
        $("#DataRozpoczecia").datetimepicker({
            dateFormat: "yy-mm-dd",
            timeFormat: "HH:mm"
        });

        $('form').submit(function () {
            if ($(this).valid()) {
                $.ajax({
                    url: '@Url.Action("Save", "Warsztaty")',
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        if (result.ok) {
                            alert(result.Info);
                        }
                        else {
                            ErrorAlert();
                            alert(result.Info);
                        }
                    }
                });
            }
            return false;
        });
    });

});

    
</script>
}