@model IEnumerable<MojeWarsztatyListView>
@using eWarsztaty.Web.Models.ViewModels
@using eWarsztaty.Web.Helpers
@using GridMvc.Html
@using eWarsztaty.Web.Infrastructure
@{
    ViewBag.Title = "Index";
}
@if (ViewBag.Brak == true)
{
    <h2>Nie jestes zapisany na żaden warsztat</h2>
}
else
{
    <h2>Moje warsztaty</h2>


    @helper CustomRenderingOfColumnWypisanie(MojeWarsztatyListView warsztat)
{
    if (ViewContext.Controller.CurrentUserId() == warsztat.ProwadzacyId) // jestes prowadzacym, jak masz uprawnienie to bedzie tu usun jak nie to napis prowadzisz ten warsztat
    {
        if (warsztat.StatusWarsztatu == (int)eWarsztatyEnums.StatusWarsztatu.Zamkniety)
        {
            <a href"" style="color: #333; cursor: pointer; " onclick="JoinToWarshop('@Url.Action("Warsztat", "Warsztaty", new { warsztatId = warsztat.WarsztatId })')">Otwórz </a>
        }
        else if (warsztat.StatusWarsztatu == (int)eWarsztatyEnums.StatusWarsztatu.WTrakcie)
        {
            <a href"" style="color: #333; cursor: pointer; " onclick="JoinToWarshop('@Url.Action("Warsztat", "Warsztaty", new { warsztatId = warsztat.WarsztatId })')">Dołącz </a>
        }

        //edycja
        @Html.ActionLink("Edytuj", "Detail", "Warsztaty", new { warsztatId = warsztat.WarsztatId }, null)
        //usuwanie
        @Html.ActionLink("Usun", "Delete", "Warsztaty", new { warsztatId = warsztat.WarsztatId, Url = "MojeWarsztaty" }, null)
    }
    else // jestes uczestnikiem warsztatu
    {
        if (warsztat.DataRozpoczecia < DateTime.Now && warsztat.StatusWarsztatu == (int)eWarsztatyEnums.StatusWarsztatu.Zakonczony)
        {
            <p>Warsztat już się odbył</p>
        }
        else
        {
            @Html.ActionLink("Wypisz się", "Wypisanie", "Warsztaty", new { WarsztatId = warsztat.WarsztatId }, null)
        }

        if (warsztat.StatusWarsztatu == (int)eWarsztatyEnums.StatusWarsztatu.WTrakcie)
        {
            <a href"" style="color: #333; cursor: pointer; " onclick="JoinToWarshop('@Url.Action("Warsztat", "Warsztaty", new { warsztatId = warsztat.WarsztatId })')">Dołącz </a>
        }
    }

}

    @helper CustomRenderingOfColumnStatus(MojeWarsztatyListView warsztat)
{
    if (warsztat.StatusWarsztatu == (int)eWarsztaty.Web.Helpers.eWarsztatyEnums.StatusWarsztatu.WTrakcie)
    {
        <p>Warsztat właśnie się odbywa</p>
    }
    else if (warsztat.StatusWarsztatu == (int)eWarsztaty.Web.Helpers.eWarsztatyEnums.StatusWarsztatu.Zakonczony)
    {

        <p>Warsztat zakończony</p>
    }
    else if (warsztat.StatusWarsztatu == (int)eWarsztaty.Web.Helpers.eWarsztatyEnums.StatusWarsztatu.Zamkniety)
    {

        <p>Warsztat jeszcze się nie odbył</p>
    }

}

    <div style="align-content:center; margin-top: 30px">
        @(Html.Grid(Model).Named("gridWarsztaty").Columns(columns =>
        {
            columns.Add(c => c.WarsztatId, true);
            columns.Add(c => c.Nazwa).Titled("Nazwa warsztatu");
            columns.Add(c => c.Temat).Titled("Temat");
            columns.Add(c => c.DataRozpoczecia).Titled("Data rozpoczęcia");
            columns.Add(c => c.CzasTrwania).Titled("Czas trwania").SetWidth(10);
            columns.Add(c => c.StatusWarsztatu).Titled("Status").Sanitized(false).Encoded(false).RenderValueAs(o => CustomRenderingOfColumnStatus(o));
            if (ViewContext.Controller.HasPermission("Warsztaty-Wypisanie"))
                columns.Add().Titled("Operacja").Sanitized(false).Encoded(false).RenderValueAs(o => CustomRenderingOfColumnWypisanie(o));
        }).WithPaging(5)
        .Sortable(true)
        .Filterable(true))
    </div>
}
<br />
@if (ViewContext.Controller.HasPermission("Warsztaty-Zapis"))
{
    <div style="text-align: center;">
        @using (Html.BeginForm("Zapisanie", "Warsztaty")) //uprawnienie do zapisu na warsztat
        {
            <input type="submit" value="Zapisz się na warsztat" />
        }
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>

    function JoinToWarshop(nextUrl) {
        $.ajax({
            url: '@Url.Action("CanJoinToWorshop", "Warsztaty")',
            type: 'POST',
        }).success(function (result) {
            if (!result.isOk) {
                ErrorAlert();
                alert(result.message);
            }
            else
                window.location.replace(nextUrl);
        })
    }
</script>
}