@model eWarsztaty.Web.Models.ViewModels.WarsztatyView
@{
    bool IsProwadzacy = Model.ProwadzacyId == eWarsztaty.Web.Helpers.DBHelpers.GetUserId(User.Identity.Name) ? true : false;
}
<script type="text/javascript" src="~/Scripts/pdf.js"></script>
<script type="text/javascript" src="~/Scripts/pdf.worker.js"></script>

<h2 style="float:right">@Model.Nazwa @Model.Temat</h2>
<h2>Warsztat</h2>
<div id="exercisesContainer" style="margin-left: -15%; position: absolute;">
    <div id="exercises"> </div>

    <br />
    @if (IsProwadzacy)
    {
        <div style="text-align:center">
            <input type="file" id="btnAddExercise" onchange="UploadFile(false)" value="Dodaj zadanie">
        </div>
    }
</div>
<div style="position:absolute" id="grid"></div>

<div style="margin: 0 auto; width: 820px; height: 610px; background-color: black; overflow:auto;" id="presentationDiv"></div>
<div id="presentationPageDiv" style="text-align:center; ">Page: <span id="page_num"></span> / <span id="page_count"></span></div>
<br />
@if (IsProwadzacy)
{
    <button id="prev">Poprzedni</button>
    <button style="float:right" id="next">Następny</button>

    <br />
    <br />
}
<h2>Dokumenty</h2>

@if (IsProwadzacy)
{
    <div style="text-align:left">
        <input type="file" id="btnFileUpload" onchange="UploadFile(true)" value="Załaduj plik">
    </div>
}

<br />
<div id="uploadFiles"></div>
@if (IsProwadzacy)
{
    <br />
    <div style="text-align:center">
        <input type="button" id="btnCloseWarsztat" value="Zamknij warsztat">
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var hub = $.connection.warsztatHub;

        $(document).ready(function () {
            //Fix css
            $("#presentationPageDiv").hide();

            var centerWidth = $('#grid').parent().width();
            $('#grid').css("margin-left", centerWidth-50);

            var bodyWidth = $('body').width();
            if (bodyWidth < 1400) {
                $('#exercisesContainer').width(200);
                $('#btnAddExercise').width(225);
            }
            //
            RefreshFilesGrid();
            RefreshExercisesGrid()
            if ('@IsProwadzacy' == 'True') {
                RefreshParticipantGrid();
            }

            hub.client.DisconnectAgent = function (message) {
                if (message != "") {
                    ErrorAlert();
                    alert(message);
                }
            };

            hub.client.SucceedAgentConnection = function (message) {
                if (message != "") {
                    alert(message);
                }
            };


            hub.client.RefreshUserGrid = function (message) {
                if (message != "") {
                    alert(message);
                }
                RefreshParticipantGrid();
            };
            hub.client.ShowDownloadExerciseWarning = function (message) {
                if (message != "") {
                    ErrorAlert();
                    alert(message);
                }
            };
            hub.client.ShowUserScreenImage= function (base64, login) {
                var w = window.open();
                var html = "<head><title>"+ login +"</title></head>" +
                    "<img alt='Embedded Image' src='data:image/png;base64,"+base64+"' />"

                $(w.document.body).html(html);
            };

            hub.client.ProwadzacyQuitAlert = function(){
                ErrorAlert();
                alert("Prowadzący opuścił warsztat. Prosimy czekać, aż powróci")
            }

            hub.client.Relocate = function(){
                window.location.replace('@Url.Action("MojeWarsztaty", "Warsztaty")');
            }

            hub.client.RefreshPliki = function(){
                RefreshExercisesGrid();
                RefreshFilesGrid();
            }

            hub.client.LoadPresentationToClients= function(plikId){
                LoadPresentationAjax(plikId);
            }
            hub.client.ChangePresentationPageFromHub= function(operation){

                if ('@IsProwadzacy' != 'True') {
                    if (operation == '@((int)eWarsztaty.Web.Helpers.eWarsztatyEnums.PrezentacjaZmianaStrony.Nastepna)') {
                        onNextPage();
                    }
                    else
                    {
                        onPrevPage();
                    }
                }
            }

            $.connection.hub.qs = "warsztatId="+ '@Model.WarsztatId';
            $.connection.hub.start().done(function () {

                hub.server.joinGroup(@Model.WarsztatId);

                $("#btnCloseWarsztat").click(function () {
                    hub.server.closeWarsztat(@Model.WarsztatId);
                });

                $("#prev").click(function () {
                    hub.server.changePresentationPage('@((int)eWarsztaty.Web.Helpers.eWarsztatyEnums.PrezentacjaZmianaStrony.Poprzednia)', '@Model.WarsztatId');
                    onPrevPage();
                });

                $("#next").click(function () {
                    onNextPage();
                    hub.server.changePresentationPage('@((int)eWarsztaty.Web.Helpers.eWarsztatyEnums.PrezentacjaZmianaStrony.Nastepna)', '@Model.WarsztatId');
                });


            })
            .fail(function () { alert("error"); });

        })
        function refreshPlikiGrids(){
            hub.server.refreshPlikiGrids('@Model.WarsztatId');
        }
        function DownloadExercise(plikId, login){
            hub.server.downloadExercise(plikId, login);
        }

        function LoadPresentation(plikId){
            hub.server.loadPresentation(plikId, '@Model.WarsztatId');
        }

        function TakeUserScreenShot(login){
            hub.server.takeUserScreenShot(login, '@Model.WarsztatId');
        }

        function LoadPresentationAjax(plikId){
            var tbl = $('#presentationDiv');
            $.ajax({
                url: '@Url.Action("Prezentacja", "Warsztaty")',
                data: {plikId : plikId},
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html'
            }).success(function (result) {

                tbl.empty().append(result);
            }).error(function () {
                alert("error");
            });
        }

        function UploadFile(isFile) {
            var url = '@Url.Action("UploadFile", "Warsztaty")';
            var xhr = new XMLHttpRequest();
            var fd = new FormData();
            if (isFile)
                fd.append("file", document.getElementById('btnFileUpload').files[0]);
            else
                fd.append("file", document.getElementById('btnAddExercise').files[0]);
            fd.append("warsztatId", '@Model.WarsztatId');
            fd.append("isFile", isFile);
            xhr.open("POST", '@Url.Action("UploadFile", "Warsztaty")', true);
            xhr.send(fd);
            xhr.addEventListener("load", function(event) {
                refreshPlikiGrids();
            }, false);
        }

        function RefreshParticipantGrid(){
            var tbl = $('#grid');
            $.ajax({
                url: '@Url.Action("GetParticipants", "Warsztaty")',
                data: {warsztatId : @Model.WarsztatId},
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html'
            }).success(function (result) {
                tbl.empty().append(result);
            }).error(function () {
                alert("error");
            });
        }

        function RefreshExercisesGrid(){
            var tbl = $('#exercises');
            $.ajax({
                url: '@Url.Action("GetExercises", "Warsztaty")',
                data: {warsztatId : @Model.WarsztatId},
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html'
            }).success(function (result) {
                tbl.empty().append(result);
            }).error(function () {
                alert("error");
            });
        }

        function RefreshFilesGrid(){
            var partial = $('#uploadFiles');
            $.ajax({
                url: '@Url.Action("GetFiles", "Warsztaty")',
                data: {warsztatId : '@Model.WarsztatId'},
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html'
            }).success(function (result) {
                partial.empty().append(result);
            }).error(function () {
                alert("error");
            });
        }
    </script>
}
