@model eWarsztaty.Web.Models.ViewModels.AddRoleToUserView
@using eWarsztaty.Web.Infrastructure
@{
    ViewBag.Title = "Zapisz się na warsztat";
}

<h2>Dodaj uzytkownikowi rolę</h2>
@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "result" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Zapis</legend>
        <div class="editor-label">
            @Html.Label("Wybierz użytkownika")
        </div>
        <div class="editor-field">
            @if (ViewContext.Controller.HasPermission("Uzytkownicy-Index"))
            {
                @Html.DropDownListFor(m => m.SelectedUserId, Model.Uzytkownicy)
            }
            else
            {
                @Html.TextBoxFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            }

        </div>
        <br />
        <div class="editor-label">
            @Html.Label("Wybierz rolę")
        </div>
        <div class="editor-field">
            @if(ViewContext.Controller.HasPermission("Role-Index"))
            {
                 @Html.DropDownListFor(m => m.SelectedRoleId, Model.Role)
            }
            else
            {           
                  @Html.TextBoxFor(model => model.RoleName)
                  @Html.ValidationMessageFor(model => model.RoleName)
            }               

        </div>
        <br />
        <p>
            <input type="submit" value="Dodaj" />
        </p>
    </fieldset>



}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $("#closeBtn").click(function () {
            location.reload();
        });
        $(function () {

        $('form').submit(function () {
            if ($(this).valid()) {
                $.ajax({
                    url: '@Url.Action("SaveRoleToUser", "Role")',
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        if (result.ok) {
                            alert(result.Info);
                            location.reload();
                        }
                        else {
                            ErrorAlert();
                            alert(result.Info);
                        }
                    }
                });
            }
            return false;
        });
    });

    </script>
}